<h1>読書情報を入力</h1>
<%= form_with model: @item, local: true do |form| %>
  <p><%= form.label :name, "タイトル" %> <%= form.text_field :name %></p>
  <p><%= form.label :date, "読了日" %> <%= form.date_field :date %></p>
  <%= form.submit "登録" %>
<% end %>